/* right click tab */
#tabContextMenu #context_newTabFromTab,
#tabContextMenu #context_openANewTab,
#tabContextMenu #context_reopenInContainer,
#tabContextMenu menu[ext-type]:not(#oconnerrev_gmail_com-menuitem-_mute-site),
#tabContextMenu #context_moveTabToGroup,
#tabContextMenu #context_moveTabToSplitView,
#tabContextMenu #context_reverseSplitView + menuseparator,
#tabContextMenu #context_reloadTab,
#tabContextMenu #context_askChat,
#tabContextMenu #context_bookmarkSelectedTabs,
#tabContextMenu #context_bookmarkTab,
#tabContextMenu #context_moveTabOptions,
#tabContextMenu #share-tab-url-item,
#tabContextMenu #context_reopenInContainer,
#tabContextMenu #context_selectAllTabs + menuseparator,
#tabContextMenu #context_shareSelectedTabs,
#tabContextMenu #context_undoCloseTab,
#tabContextMenu #context_closeTabOptions {
	display: none !important;
}
/* right click browser page area */
#contentAreaContextMenu #context-openlinkinsplitview,
#contentAreaContextMenu #context-stripOnShareLink,
#contentAreaContextMenu #offline-qr-code_rugk_github_io-menuitem-_qr-convert-link-text-selection,
#contentAreaContextMenu #addon_darkreader_org-menuitem-_DarkReader-top,
#contentAreaContextMenu #ublock0_raymondhill_net-menuitem-_uBlock0-blockElement,
#contentAreaContextMenu menu[ext-type]:not(menu[label="Bitwarden"]),
#contentAreaContextMenu #context-setDesktopBackground + menuseparator,
#contentAreaContextMenu #context-sendpagetodevice,
#contentAreaContextMenu #context-navigation,
#contentAreaContextMenu #context-openlinkinusercontext-menu,
#contentAreaContextMenu #context-bookmarklink,
#contentAreaContextMenu #context-sendimage {
	display: none !important;
}

/* selection on web pages */
#contentAreaContextMenu #context-viewpartialsource-selection ,
#contentAreaContextMenu #context-selectall,
#contentAreaContextMenu #context-copy-link-to-highlight,
#contentAreaContextMenu #context-copy-clean-link-to-highlight ,
menuitem[label="QR code from selection"],
#contentAreaContextMenu #context-take-screenshot,
#contentAreaContextMenu #context-print-selection,
#contentAreaContextMenu > menuseparator
 {
	display: none !important;
	
}


/* no container */
#placesContext_open\:newcontainertab {
	display: none !important;
}




/*----------- bookmark toolbar BEGINS-----------------*/
#PersonalToolbar   {
	background: hsl(247, 10%, 12%) !important;
}
#personal-bookmarks #PlacesToolbar #PlacesToolbarItems > .bookmark-item {
	padding: 0 5px !important;
}
#personal-bookmarks #PlacesToolbar #PlacesToolbarItems > .bookmark-item::after {
	content: "" !important;
	position: relative !important;
	right: -6px !important;
	transform: translateY(-50%) !important;
	width: 2px !important;
	height: 13px !important;
	background-color: rgba(92, 92, 92, 0.267) !important;
	top: 31% !important;
}
#personal-bookmarks #PlacesToolbar #PlacesToolbarItems > .bookmark-item > image[type="menu"] {
	color: #009dff !important;
}

/* hover effect bookmark toolbar items - icons hidden by default, text moves aside, and icons moves becomes visible */
#personal-bookmarks #PlacesToolbar #PlacesToolbarItems > .bookmark-item > .toolbarbutton-icon {
	position: relative !important;
	left: 30% !important;
	opacity: 0 !important;
	transition: opacity 0.2s, left 0.2s !important;
}
#personal-bookmarks #PlacesToolbar #PlacesToolbarItems > .bookmark-item .toolbarbutton-text {
	right: 10px !important;
	position: relative !important;
	top: 1px !important;
	color: hsl(0, 0%, 64.3%) !important;
	transition: right 0.2s, color 0.2s !important;
}

#personal-bookmarks #PlacesToolbar #PlacesToolbarItems > .bookmark-item:hover .toolbarbutton-icon {
	left: 0 !important;
	opacity: 1 !important;
}
#personal-bookmarks #PlacesToolbar #PlacesToolbarItems > .bookmark-item:hover .toolbarbutton-text {
right: 0 !important;
color: hsl(203, 100%, 50%) !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton) {
  &:not([disabled], [open]):hover {
    color: hsl(203, 100%, 50%) !important;
  }
}

/* ---------- bookmark toolbar END-----------------*/

/* navbar */
toolbar#nav-bar,
.browser-toolbar.chromeclass-location {
	background: #1c1c22 !important;
}
/* title bar height with the tabs */
#TabsToolbar  {
}
/* children of the main toolbar containing tabs and stuff */ 
#tabbrowser-arrowscrollbox, 
#pinned-tabs-container{
}

/* the background container for all tabs */
#TabsToolbar-customization-target {
    /* background: hsl(214, 27%, 10%);  */
	border-radius: 999px;
	margin-bottom:5px;
	height: 80%;
	box-shadow: inset 0 0 5px 0 #538bcc !important;
}
/* ths is the parent of each tab and contains siblings content and background */
.tabbrowser-tab {
	height: 80% !important;
}
/* rounding the tab background  for selected, pinned and unselected */
.tab-background {
border-radius:999px
}
.tab-background {
  border-radius: var(--tab-border-radius);
  margin-block: var(--tab-block-margin);
  min-height: var(--tab-min-height);
  outline: var(--tab-outline);
  outline-offset: var(--tab-outline-offset);

  /* stylelint-disable-next-line media-query-no-invalid */
  @media -moz-pref("browser.nova.enabled") {
    border: 1px solid transparent;
  }

  .tabbrowser-tab:hover > .tab-stack > &:not([selected], [multiselected]) {
    background-color: var(--tab-background-color-hover);
    outline-color: var(--tab-hover-outline-color);
  }

  &:is([selected], [multiselected]) {
    background-color: var(--tab-background-color-selected);
    outline-color: var(--tab-selected-outline-color);
    box-shadow: var(--tab-selected-shadow);
  }

  &:is([selected]:not([multiselected])) {
    /* The below lines are required for dark, light, and
      system themes to achieve the gradient border appearance */
    /* stylelint-disable-next-line media-query-no-invalid */
    @media (not ((forced-colors) or (-moz-native-theme))) and (-moz-pref("browser.nova.enabled")) {
      :root:not([lwtheme]) & {
        background:
          linear-gradient(var(--tab-background-color-selected)) padding-box,
          var(--tab-border-color-accent) border-box;
      }
    }
  }

  &[multiselected] {
    outline-color: var(--focus-outline-color);

    &[selected] {
      outline-width: 2px;
      outline-offset: -2px;
    }
  }

  #tabbrowser-tabs[orient="vertical"] & {
    .tabbrowser-tab[small-stack] > .tab-stack > & {
      box-shadow:
        0 5px 0 -3px var(--tab-background-color-selected),
        0 3px var(--tab-dragover-outline-color);
    }

    .tabbrowser-tab[big-stack] > .tab-stack > & {
      box-shadow:
        0 5px 0 -3px var(--tab-background-color-selected),
        0 3px var(--tab-dragover-outline-color),
        0 8px 0 -3px var(--tab-background-color-selected),
        0 6px var(--tab-dragover-outline-color);
    }
  }

  #tabbrowser-tabs[orient="horizontal"] & {
    .tabbrowser-tab[small-stack] > .tab-stack > & {
      box-shadow:
        5px 0 0 -3px var(--tab-background-color-selected),
        3px 0 var(--tab-dragover-outline-color);
    }

    .tabbrowser-tab[big-stack] > .tab-stack > & {
      box-shadow:
        5px 0 0 -3px var(--tab-background-color-selected),
        3px 0 var(--tab-dragover-outline-color),
        8px 0 0 -3px var(--tab-background-color-selected),
        6px 0 var(--tab-dragover-outline-color);
    }

    &:-moz-locale-dir(rtl) {
      .tabbrowser-tab[small-stack] > .tab-stack > & {
        box-shadow:
          -5px 0 0 -3px var(--tab-background-color-selected),
          -3px 0 var(--tab-dragover-outline-color);
      }

      .tabbrowser-tab[big-stack] > .tab-stack > & {
        box-shadow:
          -5px 0 0 -3px var(--tab-background-color-selected),
          -3px 0 var(--tab-dragover-outline-color),
          -8px 0 0 -3px var(--tab-background-color-selected),
          -6px 0 var(--tab-dragover-outline-color);
      }
    }
  }

  #tabbrowser-tabs[movingtab] & {
    transition:
      background-color 50ms ease,
      color 50ms ease,
      outline-color 50ms ease;
  }

  #tabbrowser-tabs[movingtab-group] & {
    &[dragover-groupTarget] {
      background-color: light-dark(var(--dragover-tab-group-color-pale), var(--dragover-tab-group-color));
      color: light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-pale));
      outline-color: light-dark(var(--dragover-tab-group-color), var(--dragover-tab-group-color-pale));

      /* stylelint-disable-next-line media-query-no-invalid */
      @media -moz-pref("browser.nova.enabled") {
        background-color: var(--dragover-tab-group-color-invert);
        color: currentColor;
        outline-color: var(--dragover-tab-group-color);
        outline-width: 2px;
      }
    }

    &:is([selected], [multiselected]) {
      /* stylelint-disable-next-line media-query-no-invalid */
      @media not -moz-pref("browser.nova.enabled") {
        outline-color: var(--dragover-tab-group-color);
        outline-width: 2px;
        outline-offset: -2px;
      }
    }
  }
